<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <main class="container" ng-app="ToDoApp" ng-controller="TasksController">
            <section>
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
            </section>

            <section id="fillOutSection" >
                <h2>Add a Comment</h2>
                <form ng-submit="addTask(newTask)">
                    <div class="form-group">
                        <div>
                            <label for="task-rating">Rating</label>
                            <rating id="task-rating" ng-model="newTask.rating"></rating>         
                        </div>
                        <label for="task-name">Name</label>
                        <input type="text" id="task-name" class="form-control"
                               placeholder="Enter Your Name" ng-model="newTask.name"/>
                        <label for="task-title">Title</label>
                        <input type="text" id="task-title" class="form-control"
                               placeholder="Enter a Title" ng-model="newTask.title"/>       
                        <label for="task-comment">Comment</label>
                        <textarea name="Text1" cols="40" rows="5" type="text" id="task-comment" class="form-control" placeholder="Enter Your Comment" ng-model="newTask.comment"></textarea>
                        <label for="task-score">Score </label>
                        <p id="task-title" ng-model="newTask.score">0</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="inserting">Submit Your Comment</button>
                        <img src="img/ajax-spinner.gif" alt="loading animation" ng-if="inserting"/>
                    </div>
                </form>
            </section>

            <section>
                <h2 id="commentSection">Comments</h2>
                <p>
                    <button class="btn btn-primary" ng-click="refreshTasks()">Refresh</button>
                    <img src="img/ajax-spinner.gif" alt="loading animation" ng-if="loading || updating"/>
                </p>
                <p id="noComment">No comments yet. Be the first to review this!</p>

                <ul class="commentsEntered" ng-class="{done: task.done}" ng-repeat="task in tasks|orderBy:scoreOrder">
                    <li class="commentsEntered">
                        <div class="details">
                            <p><rating max="5" ng-model="task.rating" readonly="true"></rating></p>
                            <p class="name">Name:  {{task.name}}</p>
                            <p class="title">Title: {{task.title}}</p>                
                            <p class="comment">Comment: {{task.comment}}</p>
                            <p class="score">Score: {{task.score}}</p>
                            <img src="img/thumbUp.png" alt="good" class="btn" id="thumbs" ng-click="scoreChange(task, +1)">
                            <img src="img/thumbDown.png" alt="bad" class="btn" id="thumbs" ng-click="scoreChange(task, -1)"> 
                            <p class="btn" ng-click="deleteTask(task)">Delete</p>
                        </div>
                    </li>
                </ul>
            </section>

        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>